{#
/**
 * @file
 * Theme override to display a single component.
 *
 * header area template
 */
#}

<header>
    <div class="whole-header">
        <div class="container">
            <div class="row">
                {% if page.header_left %}
                <div class="header-left col-sm-4">{{ page.header_left }}</div>
                {% endif %}
                {% if page.header_middle %}
                    <div class="header-middle col-sm-4">{{ page.header_middle }}</div>
                {% endif %}
                {% if page.header_right %}
                    <div class="header-right col-sm-4">{{ page.header_right }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="navigation-section">
        {% if page.navigation %}
            <div class="navigation-menu">{{ page.navigation }}</div>
        {% endif %}
    </div>
</header>